input {
  @include inputColor;
  font-size: 1.4rem;
  background-color: transparent;
  border: 0;
  border-bottom: 0.1rem solid map-get($colors, rough-asphalt);
  padding-bottom: 1.4rem;
  width: 100%;

  &:focus {
    border: 0;
    border-bottom: 0.1rem solid map-get($colors, rough-asphalt);
    outline: none;
  }

  &::placeholder {
    @include inputColor;
  }

  + input {
    margin-top: 2.8rem;
  }
}
