$colors: (
  black: #000,
  white: #fff,
  red: #ff0000,
  biology-experiments: #8ca632,
  beautiful-darkness: #696c70,
  paradise-pink: #e84362,
  noble-black: #1c1f27,
  flint-shard: #909296,
  total-eclipse: #2e323e,
  brilliance: #fdfefd,
  rough-asphalt: #bdbdc0,
  pale-gray: #fdfeff,
);
